:root {
    --White: #FFFFFE;
    --light-grey-1: #EFF0F3;
    --light-grey-2: #E4E5E9;
    --grey: #C0C0C0;
    --dark-grey: #6d6969;
    --black: #2B2C34;
    --blue: #6246EA;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
}

nav .active {
    color: var(--black);
    border-bottom: 2px solid var(--black);
}